/* :root {
  --blueLight: #9BD1F9;
  --buttonHoverBg: #d4edff;
  --lightGrey: rgb(230, 236, 240);
  --spacing: 15px;
  --greyText: rgb(101, 119, 134);
  --greyButtonText: rgba(0,0,0,0.34);
  --red: rgb(226,34,94);
  --redBackground: rgba(226,34,94,0.1);
  --green: rgb(23,191,99);
  --greenBackground: rgba(23,191,99,0.1);
}

.main_container {
  display: flex;
  height: 100%;
}

.left_container {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--lightGrey);
}

.mid_container {
  width: 55%;
  overflow: auto;
  border-right: 1px solid var(--lightGrey);
}

.right_container {
  flex: 1;
  overflow: auto;
}

.pointer {
  cursor: pointer;
} */