@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;;
}

html, body,#root {
  height: 100%;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #fff;
  overflow-y: hidden;
}
/*global css*/
a {
  text-decoration: none;
}

/* Padding */
.mr-1 {
  margin-right: 10px;
}

.white {
  color: #fff;
}
.danger {
  color: #cc0033;
  background-color: #fce4e4;
  border: 1px solid #fcc2c3;
}

.success {
  color: #003510;
  background-color: #43fd81;
  border: 1px solid rgb(76, 245, 60);
}

/* Image */
.img-round {
  border-radius: 50%;
}
/* .app-btn {

}

.app-btn:hover {
  background: #0365b4;
} */


/*Customize Scrollbar*/
.customize-scrollbar {
    overflow-y: scroll;
}
.customize-scrollbar::-webkit-scrollbar {
    background-color:rgb(17, 17, 17);
    width:7px
}
.customize-scrollbar::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color:rgb(121, 75, 196);
    border-radius:15px;
}

