.chat-input-main {
    padding: 7px;
    background: #1a1a1a;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    position: fixed;
    width: 70%;
    border-radius: 5px;
}
.chat-input-main .action-btn {
    color: #d4d4d4;
    display: flex;
}
.chat-input-main .icon-block {
    padding: 0 15px;
    font-size: 25px;
    color: #b8b8b8;
    opacity: 0.6;
}
.chat-input-main .icon-block.active {
    color: #46c756;
}
.chat-input-main .icon-block:hover {
    opacity: 0.9;
    cursor: pointer;
}
.chat-input-main .chat-input {
    flex: 1;
    height: 40px;
    border: none;
    border-radius: 20px;
    padding: 0 20px;
    outline: none;
    font-size: 16px;
    background-color: #1a1a1a;
    color: rgb(233, 233, 233);
}
.chat-input-main .sound-wave {
    position: absolute;
    width: 50px;
    height: 20px;
    right: 60px;
}
.chat-input-main .file-share {
    position: relative;
}
.chat-input-main .file-share input {
    width: 25px;
    height: 30px;
    opacity: 0;
    position: absolute;
    left: 15px;
    z-index: 1;
    cursor: pointer;
}
