/* .channel-card-private {
    display: flex;
    flex-direction: row;
    margin: 8px;
    width: calc(100% - 10);
    min-height: 60px;
    background: #292929;
    padding: 5px;
    border-radius: 3px;
}
.channel-card-private .headingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.channel-card-private  .heading {
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    /* margin-left: 10px; 
} */


.private-channel-card {
    display: flex;
    align-items: center;
    padding: 0 15px;
    min-height: 72px;
    border-bottom: 1px solid rgb(94, 94, 94);
    border-radius: 4px;
    background: #171010;
    position: relative;
}
.private-channel-card .img-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(192, 190, 190);
    border: 1px solid #52057B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #52057B;
}
.private-channel-card .img-container img {
    width: 100%;
    height: 100%;
}
.private-channel-card .time {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 12px;
    color: white;
}

.private-channel-card:hover {
    background: #575757;
    cursor: pointer;
}
.card-detail {
    margin-left: 15px;
    flex: 1;
}
.card-detail .title {
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
    color: rgb(226, 223, 223);
}
.card-detail .desc {
    margin: 0;
    color: rgb(214, 214, 214);
    font-size: 15px;
}
