
.button {
    padding: 6px 12px;
    width: 100px;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin-top: 10px;
}
