.card {
    width: 450px;
    max-width: 90%;
    min-height: 170px;
    background: #3a3a3a;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headingWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    font-size: 22px;
    font-weight: bold;
    /* margin-left: 10px; */
}