.profile-top {
    height: 235px;
}
.profile-bottom {
    display: flex;
    align-items: center;
}
.profile {
    position: absolute;
}
.profile-image {
    width: 170px;
    height: 170px;
    object-fit: cover;
    border-radius: 50%; 
}
.background-image {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 300px;
}
.profile-info {
    width: 400px;
    margin-top: 30px;
    margin-left: 40px;
}
.status {
    display: flex;
    font-size: 17px;
}
#status {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    font-weight: 200;
}
.Name {
    font-size: 35px;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 4px;
}
.Desc, .Email {
    margin: 4px;
    font-size: 20px;
    margin-left: 10px;
}