.errorMessage {
    width: 100%;
    border-radius: 10px;
    text-align: center;
    float: left;
    padding: 15px 25px;
}
.errorText {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    text-shadow: 1px 1px rgba(250,250,250,.3);
}


