/* .input-field {
    width: 100%;
    max-width: 310px;
} */

.input-field input {
    display: flex;
    text-align: center;
    padding: 4px;
    font-size: 18px;
    border: none;
    color: #fff;
    outline: none;
    background: #1b1b1b;;
    transition: background 0.5s;
    -webkit-tranistion: background 0.5s;
}

.input-field input:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0px 0px 30px 2px  #c877fd3f;
}
