/* .input-field {
    width: 100%;
    max-width: 310px;
} */

.input-field input {
    border-radius: 10px !important;
    text-align: center;
    width: 13vw;
    padding: 4px;
    font-size: 18px;
    border: 1px solid #262936;
    color: #fff;
    outline: none;
    background-color: #21232c;
    transition: background 0.5s;
    -webkit-tranistion: background 0.5s;
}

.input-field input:focus {
    color: #fff;
    outline: 0;
    box-shadow: 0px 0px 30px 2px  #c877fd3f;
}
