.chat-section {
    flex: 1;
    /* background: #e5ddd5; */
    padding: 20px 20px;
    height: 85%;
    overflow-y: scroll;
}
.chat-section .chat {
    line-height: 22px;
    padding: 15px;
    background: rgb(56, 56, 56);
    border-radius: 11px;
    margin-bottom: 20px;
    clear: both;
    min-width: 50px;
    position: relative;
}
.chat-section .chat:after {
    content: " ";
    position: absolute;
    width: 0;
    height: 0;
    top: 0;
    bottom: auto;
    border: 22px solid;
}
.chat-section .chat .msg {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin: 5px 0 15px 0;
}
.chat-section .chat .time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #000 73;
    font-size: 11px;
}
.chat-section .chat.you {
    float: left;
    margin-right: 10%;
    font-size: 14px;
    left: 15px;
}
.chat-section .chat.you::after {
    left: -12px;
    right: auto;
    border-color: rgb(56, 56, 56) transparent transparent transparent;
}
.chat-section .chat.you .name {
    font-weight: 500;
    color: #d30f0f;
}
.chat-section .chat.me {
    float: right;
    margin-left: 10%;
    background: rgb(123, 61, 223);
    right: 15px;
}
.chat-section .chat.me::after {
    left: auto;
    right: -12px;
    border-color: rgb(123, 61, 223) transparent transparent transparent;
}
