.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.logo {
    color: rgb(121, 75, 196);
}
.navbar li {
    padding: 35px;
    font-size: 25px;
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #212529;
    position: relative;
}
.navbar li {
text-decoration: none;
}
/* .navbar i {
  font-weight: lighter;
} */

.navbar img {
    height: 40px;
    width: 40px;
}


ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;;
  }

:root {
    --bg:  #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms; 
  }


/* <li> */

  
  /* Icon Button */
  .icon-button {
    --button-size: calc(var(--nav-size) * 0.5);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #484a4d;
    border-radius: 50%;
    padding: 5px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
  }
  
  .icon-button:hover {
    filter: brightness(1.2);
  }
  
  .icon-button svg,.dropdown-profile-img { 
    fill: var(--text-color);
    width: 22px !important;
    height: 22px !important;
  }
  
  
  /* Dropdown Menu */
  
  .dropdown {
    font-size: 15px;
    position: absolute;
    margin-right: 0px;
    left: 42px;
    bottom: 65px;
    width: 130px;
    transform: translateX(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 7px;
    overflow: hidden;
    transition: height var(--speed) ease;
  }
  
  .menu {
    width: 100%;
  }
  
  .menu-item {
    font-size: 15px;
    height: 35px;
    display: flex;
    align-items: center;
    color: white;
    border-radius: var(--border-radius);
    transition: background var(--speed);
  }
  
  .menu-item .icon-button {
    margin-right: 0.5rem;
  }
  
  
  .menu-item .icon-button:hover {
    filter: none;
  }
  
  .menu-item:hover {
    background-color: #525357;
    
  }
  
  .icon-right {
    margin-left: auto;
  }
  
  /* CSSTransition classes  */
  .menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
  }
  .menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }
  .menu-primary-exit {
    position: absolute;
  }
  .menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
  }
  
  
  .menu-secondary-enter {
    transform: translateX(110%);
  }
  .menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
  }

  .menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
  }
  