/* 

.public-channel-card {
    margin: 15px;
    width: calc(100% - 20px);
    min-height: 100px;
    padding: 20px;
    border: 0.5px solid rgb(152, 125, 196);
    border-radius: 5px;
    display: flex;
    align-items: center;
    position: relative;
}

.public-channel-card .img-container {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(192, 190, 190);
    border: 2px solid #52057B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #52057B;
}
.public-channel-card .img-container img {
    width: 100%;
    height: 100%;
}

.public-channel-card  .title-container {
    flex: 1;
    margin-left: 20px;
} 

.public-channel-card .heading {
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
}
*/






/* * {
  transition: all 0.3s ease-out;
} */



.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
}

.img-container {
  margin-right: 10px;
}
.img-container img{
    height: 50px;
    width: 50px !important;
  border-radius: 50%;
}

.upload-section-main h3 {
  color: #fdfdfd;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 4px;
}

.upload-section-main p {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #666666;
}
p.small {
  font-size: 14px;
}

.go-corner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 32px;
  height: 32px;
  overflow: hidden;
  top: 0;
  right: 0;
  background-color: #00838d;
  border-radius: 0 4px 0 32px;
}

.go-arrow {
  margin-top: -4px;
  margin-right: -4px;
  color: white;
  font-family: courier, sans;
}

.card1 {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 70%;
  background-color: #08031a;
  border-radius: 4px;
  padding: 32px 24px;
  margin: 12px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
}

.btn-wrapper {
    position: absolute;
    right: 25px;
}
.card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #00838d;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
.card1:hover:before {
  transform: scale(100);
}

.card1:hover p {
  transition: all 0.3s ease-out;
  color: rgba(255, 255, 255, 0.8);
}
.card1:hover h3 {
  transition: all 0.3s ease-out;
  color: #ffffff;
}

