

.public-channel-card {
    margin: 15px;
    width: calc(100% - 20px);
    min-height: 100px;
    background: #222222;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.public-channel-card .img-container {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    overflow: hidden;
    background: rgb(192, 190, 190);
    border: 2px solid #52057B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #52057B;
}
.public-channel-card .img-container img {
    width: 100%;
    height: 100%;
}

.public-channel-card  .title-container {
    flex: 1;
    margin-left: 20px;
} 

.public-channel-card .heading {
    font-size: 22px;
    font-weight: bold;
    /* margin-left: 10px; */
}

.public-channel-card  .btn-wrapper {
    position: absolute;
    right: 25px;
}